/* announcements slides */
.announcements {
	font-size:70%;
}
/* slide formatting */
.reveal p, .reveal ul li, .reveal ol li, .reveal table th td, .reveal table tr td {
	text-align:justify;
}
.reveal ul {
	display:block;
}
div.footer p {
	text-align:center;
}
div.slides {
	margin-top:-50px !important;
}
img.center, .center img {
	margin:auto;
	text-align:center;
	display:block;
}
div.titlesmall p {
	text-align:center;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
.reveal .slide ul li {
	margin-top:0.1em !important;
	margin-bottom:0.1em !important;
}
.reveal table td {
	border-bottom:none;
}
div.no-bullets ul, div.no-bullets ul ul {
	/* from https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
  list-style-type: none; /* Remove bullets */
}
div.no-second-bullets ul ul {
	/* from https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
  list-style-type: none; /* Remove bullets */
}
div.no-bullets-left ul, div.no-bullets-left ul ul {
  list-style-type: none; /* Remove bullets */
  margin-left:0;
  padding-left:0;
}
.titlereading {
	font-size:x-large;
	position:fixed;
	bottom:0;
}
span.math {
	font-size:90%;
}

/* independent set images */

img.ispic {
	max-width:100px;
	max-height:100px;
	border-radius:50px;
	z-index:5;
}

/* ... */
table.ford_fulk_worst_case {
	width:100%;
}
table.ford_fulk_worst_case tbody tr td {
	vertical-align:top;
	width:50%;
}
table.ford_fulk_worst_case tbody tr td p {
	margin:0;
}
table.ford_fulk_worst_case tbody tr td p img {
	width:100%;
}

/* ... */

img.diamond_flow_in_table {
	width:100%;
	height:100%;
}

/* ... */

table.border th td, table.border tr td, td.border, tr.border td {
	border:1px solid black;
	border-bottom:1px solid black !important;
	border-collapse:collapse;
}
table.blueborder th td, table.blueborder tr td, td.blueborder, tr.borderblue td {
	border:2px solid blue;
	border-bottom:2px solid blue !important;
	border-collapse:collapse;
}
table.redborder th td, table.redborder tr td, td.redborder, tr.redborder td {
	border:2px solid red;
	border-bottom:2px solid red !important;
	border-collapse:collapse;
}

table.border2px th td, table.border2px tr td, td.border2px, tr.border2px td {
	border:2px solid black;
	border-bottom:2px solid black !important;
	border-bottom:2px solid black !important;
	border-collapse:collapse;
}
table.border3px th td, table.border3px tr td, td.border3px, tr.border3px td {
	border:3px solid black;
	border-bottom:3px solid black !important;
	border-bottom:3px solid black !important;
	border-collapse:collapse;
}

/* table at bottom of page */
table.bottom, div.bottom {
	position:fixed;
	bottom:-50px;
}

/* ... */
div.square {
	height:0;
	width:60%;
	padding-bottom:60%;
}
td.square div {
	position:absolute;
}

img.bipart {
	margin-left:3%;
}

table.bipart {
	table-layout:fixed;
}
table.bipart2 {
	table-layout:fixed;
	width:42%;
	margin-top:2%
}
table.bipart2 tbody tr td {
	width:100%;
	height:0;
	padding:0;
	padding-bottom:50%;
}
table.bipart2_outer tbody tr td div div p {
	text-align:center;
	width:100%;
	margin:0 !important;
}
table.bipart2_outer tbody tr td div div p img {
	margin:0;
	height:100%;
	margin-top:5%;
}

table.bipart tbody tr td table tbody tr td, table.bipart2 tbody tr td table tbody tr td {
	text-align:center;
	font-size:60%;
	font-weight:bold;
	vertical-align:middle;
	position:relative;
	font-size:1vw;
}
table.bipart tbody tr td table tbody tr:nth-child(1) td svg {
	width:90%;
}
table.bipart tbody tr td table tbody tr td div {
	aspect-ratio: 1 / 1;
	position:relative;
}
table.bipart2 tbody tr td table tbody tr td div {
	aspect-ratio: 1 / 1;
	position:relative;
}	
table.bipart tbody tr td table, table.bipart2 tbody tr td table {
	margin:0;
	width:100%;
}
table.bipart tbody tr td, table.bipart2 tbody tr td {
	vertical-align:top;
}
table.bipart tbody tr td:nth-child(2), table.bipart2 tbody tr td:nth-child(3) {
	position:relative;
}
table.bipart tbody tr td:nth-child(2) img, table.bipart2 tbody tr td:nth-child(3) img {
	position: absolute;
	width: 90%;
	height: 80%;
	left: 6%;
	top: 10%;
	scale: 1.7 1.3;
}
table.bipart tbody tr td table tbody tr td div img, table.bipart2 tbody tr td table tbody tr td div img {
	width:auto;
	height:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	z-index:5;
}
table.bipart tbody tr td, table.bipart2 tbody tr td { 
	padding:0; 
}
table.bipart tbody tr td:nth-child(1) { background:lightgrey; }
table.bipart tbody tr td:nth-child(2) { width:50% !important; }
table.bipart tbody tr td:nth-child(3) {	background:lightgrey; }

table.bipart2 tbody tr td:nth-child(1) { width:0% !important; background:transparent; }
table.bipart2 tbody tr td:nth-child(2) { width:25% !important; background:lightgrey; }
table.bipart2 tbody tr td:nth-child(3) { width:50% !important; background:transparent; }
table.bipart2 tbody tr td:nth-child(4) { width:25% !important; background:lightgrey; }
table.bipart2 tbody tr td:nth-child(5) { width:0% !important; background:transparent; }


/* bipartite table of images */
table.bipartite {
}
table.bipartite tbody tr td {
	vertical-align:bottom;
	padding:0;
}
table.bipartite tbody tr td div p {
	text-align:center;
}
table.bipartite tbody tr td div,
table.bipartite tbody tr td div div {
	width:100%;
	height:auto;
}
table.bipartite tbody tr td div table {
	/* padding:0 10% 0 10% !important; */
	z-index:1;
	width:86%;
	height:0;
	margin-top:15% !important;
	margin-left:8% !important
}
table.bipartite tbody tr td div table tbody tr td {
	padding:0;
	vertical-align:middle;
}
/* table.bipartite tbody tr td div table tbody tr:nth-child(1) { height:20%; }*/
table.bipartite tbody tr td div table tbody tr td:nth-child(1) { width:25%; }
table.bipartite tbody tr td div table tbody tr td:nth-child(2) { width:50%; }
table.bipartite tbody tr td div table tbody tr td:nth-child(3) { /* the remainder */ }
table.bipartite tbody tr td div table tbody tr td img {
	width:auto;
	margin:0;
}
table.bipartite tbody tr td div div div div div figure div svg {
	z-index:0;
}
table.bipartite tbody tr td div div, 
table.bipartite tbody tr td div div div, 
table.bipartite tbody tr td div div div div, 
table.bipartite tbody tr td div div div div, 
table.bipartite tbody tr td div div div div figure, 
table.bipartite tbody tr td div div div div figure div, 
table.bipartite tbody tr td div div div div figure div svg {
	width:100% !important;
	height:auto !important;
}

table.bipartite_flow tbody tr td div table {
	width:65% !important;
	margin-bottom:60px !important;
	margin-left:115px !important;
}
table.bipartite_flow tbody tr td div table tbody tr td:nth-child(1) { width:20% !important; }
table.bipartite_flow tbody tr td div table tbody tr td:nth-child(2) { width:60% !important; }

table.bipartite_flow2 tbody tr td div table {
	width:85% !important;
	margin-bottom:80px !important;
	margin-left:16px !important;
}
table.bipartite_flow2 tbody tr td div table tbody tr td:nth-child(1) { width:20% !important; }
table.bipartite_flow2 tbody tr td div table tbody tr td:nth-child(2) { width:60% !important; }

table.bipartite_flow3 tbody tr td div table {
	width:65% !important;
	margin-bottom:70px !important;
	margin-left:70px !important;
}
table.bipartite_flow3 tbody tr td div table tbody tr td:nth-child(1) { width:20% !important; }
table.bipartite_flow3 tbody tr td div table tbody tr td:nth-child(2) { width:60% !important; }


/* centering an image */
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* h2 styling from https://stackoverflow.com/questions/22083157/extend-background-color-of-header-beyond-container-with-css */
#container {
    width: 100px;
    margin: 0 auto;
    background-color: #202d4d;
}
h2:not(.subtitle) {
    background-color:#202d4d;
    height: 100px;
    position: relative;
    color:white !important;
}
h2:not(.subtitle):before {
    content:"";
    background-color:#202d4d;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}
#container {
    width: 100px;
    margin: 0 auto;
    background-color: #E46C0A;
}
div.orangetitle {
    background-color:#E46C0A;
    height: 100px;
    position: relative;
    color:black !important;
}
div.orangetitle:before {
    content:"";
    background-color:#E46C0A;
    position: absolute;
    height: 350%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
}

/* different table styles */

table.compact th, table.compact th td, table.compact td, table.compact td td,
div.compact table th, div.compact table th td, div.compact table td, div.compact table td td,
td.compact {
	margin:0;
	padding:0 !important;
}
div.allcenter table thead tr th, div.allcenter table th td, div.allcenter table tr td, table.allcenter thead th td, table.allcenter tbody tr td {
	vertical-align:middle;
	text-align:center;
	border-bottom:none;
}

/* ... */

.half-circle {
    /* width: 200px; */
    /* height: 100px; */ /* as the half of the width */
    /* border-top-left-radius: 110px; */ /* 100px of height + 10px of border */
    /* border-top-right-radius: 110px; */ /* 100px of height + 10px of border */
    border: 5px solid red;
    border-bottom: 0;
}



/* the blue table with alternating color rows */
div.blue-table table {
	font-size:xx-large;
}
div.blue-table table th {
	background-color:rgb(20,60,110);
	padding:5px;
	text-align:center;
	border-bottom:3px solid white;
}
div.blue-table table tr td {
  text-align: center;
  font-size: 80%;
  line-height: 120%;
}
div.blue-table table tr:nth-child(2n+1) {
  background-color: #888888;
  padding-left: 5px;
  color: white;
}
div.blue-table table tr:nth-child(2n) {
  background-color: rgb(110,160,220);
  padding-left: 5px;
  color: white;
}

/* ... */

ul li p, ul li span {
	display:inline-block;
}
li.purple {
	border:2px solid #5f497a;
	background-color:#e5dfec;
	border-radius:5px;
	color:black;
}

/* this is the green-and-yellow tile example in the DP slide set */
table.cells. table.cellssmall {
 	border-collapse: collapse;
}
table.cells tr, table.cellssmall tr {
 	border-collapse: collapse;
}
td.tdbottom, tr.trbottom {
	border-bottom:2px solid black !important;
}
table.cells td {
	width:20px;
	height:45px;
	border:2px solid black;
 	border-collapse: collapse;
}
table.cellssmall td {
	font-size:x-large;
	width:10px;
	height:30px;
	border:2px solid black;
 	border-collapse: collapse;
}
td.noborder, tr.noborder, tr.noborder td {
	border:none !important;
}

table.dominov {
  background-color: lightgreen;
	border: 2px solid black;
	border-radius:5px;
	border-collapse:separate;
	width:50px;
	height:100px;
	padding:0;
	margin-top:6px;
}
table.dominoh {
  background-color: lightgreen;
	border: 2px solid black;
	border-radius:5px;
	border-collapse:separate;
	width:100px;
	height:50px;
	padding:0;
}
table.dominoholder tr td {
	margin:0;
	padding:3px;
}
table.dominogrid tr td {
	border:2px solid black;
	border-bottom:2px solid black !important;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
}

/* purple note class */
table.purplenote {
	background-image: linear-gradient(to bottom, #eee6f9, #c9b4e9);
	border: 2px solid #8c74ab;
	border-radius:25px;
	border-collapse:separate;
}
/* blue note class */
table.bluenote {
	background-image: linear-gradient(to bottom, #e1fbff, #9ce9ff);
	border: 2px solid #4529c4;
	border-radius:25px;
	border-collapse:separate;
}
/* navy note class */
table.navynote {
	background-image: linear-gradient(to bottom, mediumblue, navy);
	border: 2px solid midnightblue;
	border-radius:25px;
	border-collapse:separate;
	color:white;
}



span.rotate90 {
  display: inline-block;
  transform: rotate(90deg);
}

/* for the LCS in DP */
table.dnabox {
	border:3px solid magenta;
	margin:0;
	padding:0;
}
table.dnabox tbody tr td, table.dnabox thead th td {
	width:30px;
	height:30px;
	padding:0;
}

/* for the DP seam carving tables */
table.table-of-boxes {
	vertical-align:middle;
	text-align:center;
	border-bottom:none;
}
table.table-of-boxes tbody tr td table {
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:middle;
	text-align:center;
	border-bottom:none;
}
table.table-of-boxes tbody tr td table tbody tr td{
	font-size:50%;
	width:150px;
	height:150px;
}

/* colors */
.red { color:red; }
.green { color:green; }
.purple { color:purple; }
.blue { color:blue; }
.skyblue { color:skyblue; }
.green { color:forestgreen; }
.magenta { color:magenta; }
.orange { color:orange; }
.grey { color:grey; }
.navy, .navyblue { color:navy; }

td.red { background-color:red; color:black; }
td.orange { background-color:orange; color:black; }
td.yellow { background-color:yellow; color:black; }
td.green { background-color:green; color:white; }
td.blue { background-color:blue; color:white; }
td.skyblue { background-color:skyblue; color:black; }
td.green { background-color:forestgreen; color:white; }
td.purple { background-color:purple; color:white; }
td.magenta { background-color:magenta; color:white; }
td.clear {}

.redtext { color:red; }
.orangetext { color:orange; }
.yellowtext { color:yellow; }
.greentext { color:green; }
.bluetext { color:blue; }
.skybluetext { color:skyblue; }
.purpletext { color:purple; }
.magentatext { color:magenta; }
.forestgreentext { color:forestgreen; }



/* sizes */
.smaller {
	font-size: smaller;
}
.small {
	font-size: small;
}
.medium {
	font-size: medium;
}
.large {
	font-size: large;
}
.x-large {
	font-size: x-large;
}
.xx-large {
	font-size: xx-large;
}
.xxx-large {
	font-size: xxx-large;
}



/* pseudocode */
div.medium-pseudocode pre code {
	font-size:1.5em;
	line-height:1.1em;
	max-height:unset;
}
div.large-pseudocode pre code {
	font-size:2em;
	line-height:1.2em;
	max-height:unset;
}

/* unfiled */
p.center, td.center p {
	text-align:center !important;
}
div.underbrace {
	text-align:left !important;
	margin-top:-80px;
}
div.underbrace p span div {
	text-align:left !important;
}

/* ducks in dp slide set */
img.ducks-left {
	width: 315px; /* have to add 15 to the amount, but the two parts should add to the width of 512 */
	min-height: 384px;
	max-height: 384px;
	object-fit: none;
	object-position: left;
	margin-right:0;
	z-index:-1;
	min-width:300px;
}
img.ducks-right {
	width: 227px; /* have to add 15 to the amount, but the two parts should add to the width of 512 */
	min-height: 384px;
	max-height: 384px;
	object-fit: none;
	object-position: right;
	margin-left:0;
	z-index:-1;
}
img.ducks-right-red-box {
	background-color:red;
	height:384px;
	width:227px; /* have to add 15 to the amount, but the two parts should add to the width of 512 */
	opacity:0.4;
	margin:0;
}
img.ducks-crop-bars {
	background-color:red;
	height:384px;
	max-width:1px;
	margin: 0 10px 0 10px;
}
img.ducks-normal {
	min-height:384px;
	max-height:384px;
	min-width:512px;
	max-width:512px;
}
img.ducks-scaled {
	width:384px;
	height:384px;
	min-height:384px;
}

/* for the DP gerrymandering slides */
table.magentabox {
	border:3px solid black;
	border-radius:25px;
	border-collapse:separate;
	margin-left:0;
	margin-right:0;
	width:100%;
}
table.magentabox tr td {
	background-color:magenta;
	color:white;
	border-radius:20px;
}
table.greenbox {
	border:3px solid black;
	border-radius:25px;
	border-collapse:separate;
	margin-left:0;
	margin-right:0;
	width:100%;
}
table.greenbox tr td {
	background-color:green;
	color:white;
	border-radius:20px;
}

/* graphs */
div.svg-40 svg, div.svg-40 p img {
	width:40%;
	height:auto;
}
div.svg-50 svg, div.svg-50 p img {
	width:50%;
	height:auto;
}
div.svg-60 svg, div.svg-60 p img {
	width:60%;
	height:auto;
}
div.svg-70 svg, div.svg-70 p img {
	width:70%;
	height:auto;
}
div.svg-80 svg, div.svg-80 p img {
	width:80%;
	height:auto;
}
div.svg-50-right-flow-graph {
	/* this is for the network flow graphs that are not diamond-shaped (1/2) */
	width:100%;
	height:auto;
}
div.svg-50-right-flow-graph, div.svg-50-right-flow-graph p img {
	/* this is for the network flow graphs that are not diamond-shaped (2/2) */
	width:50%;
	float:right;
}
td.svg-table-right {
	vertical-align:top !important;
}
td.svg-table-right svg {
	width:100%;
	margin:0;
	height:auto;
}


div.svg-40-right svg, div.svg-40-right p img {
	width:40%;
	float:right;
}
div.svg-90 svg, div.svg-90 p img {
	width:90%;
	height:auto;
}
div.svg-100 svg, div.svg-100 p img {
	width:100%;
	height:auto;
}

\
/* to file */

td.zero-bottom, td.zero-bottom ul, td.zero-bottom ul li, td.zero-bottom ol, td.zero-bottom ol li, td.zero-bottom p{
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.und {
	text-decoration:underline;
}
.bold {
	font-weight:bold;
}
.svgcaption {
	text-align:center;
	font-size:70%;
	margin-top:0;
}
.font-95, .text-95 {
	font-size:95%;
}
.font-90, .text-90 {
	font-size:90%;
}
.font-85, .text-85 {
	font-size:85%;
}
.font-80, .text-80 {
	font-size:80%;
}
.font-75, .text-75 {
	font-size:75%;
}
.font-70, .text-70 {
	font-size:70%;
}
.opacity-0 {
	opacity:0;
}
.width-100 {
	width:100%;
}
td.left-align, td.left-align p {
	text-align:left !important;
}
div.no-svg-margins > div > div > div > figure > div > svg {
	width:100%;
	margin:0 !important;
}


table.minsize4em tbody tr td {
	height:4em;
	min-width:4em;
}

/* columns and rows */

.row {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	align-content:flex-start;
}

.row p, .row img, .row div {
	flex-grow:1;
}

div.reduction-row {
	display:flex;
	width:100%;
	height:90%;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
}


div.reduction-plum {
	border:2px solid black;
	background-color:plum;
}
div.reduction-col, div.reduction-center-col {
	display:flex;
	width:25%;
	height:100%;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
}
div.reduction-col div, div.reduction-col table, div.reduction-col span, div.reduction-col img {
	width:100%;
	text-align:center;
}

table.trominoes tr, table.trominoes tr td {
	border:2px solid black;
	border-collapse: collapse;
	height:2vh;
}